<html>
<head>
    <title>VR Zoo</title>
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
</head>
	<body>
	<script src="js/main.js"></script>
	<a-scene>
	    <a-assets>
	        <img id="skyTexture" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/sechelt.jpg">
	    </a-assets>
	    <a-sky src="#skyTexture"></a-sky>
	    <a-box position="0 0 -10"color="tomato" depth="2" height="4" width="0.5" {{dino1}}> </a-box> 
	    <a-box position="5 0  -10"color="pink" depth="2" height="4" width="0.5" {{dino2}}> </a-box> 
	    <a-box position="10 0 -10"color="red" depth="2" height="4" width="0.5" {{dino3}}> </a-box> 
	    <a-box position="15 0 -10"color="blue" depth="2" height="4" width="0.5" {{dino4}}> </a-box> 
	    <a-box position="20 0 -10"color="green" depth="2" height="4" width="0.5" {{dino5}}> </a-box> 
	</a-scene>
	</body>
</html>